.sidebar-container{

    width: 30%;
    min-height: 100vh;
    padding: 10px 15px;
    border-right: 1px solid orangered ;
}

@media screen and (min-width: 768px){

    .sidebar-container{

    width: 20%;
    min-height: 100vh;
   
}
}